name: Review pull request

on:
  push

jobs:
  review_pull_request:
    name: Review pull request
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.10.0
        with:
          access_token: ${{ github.token }}

      - name: Set up JAVA 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Checkout source code
        uses: actions/checkout@v2.3.2
        with:
          submodules: recursive

      - name: Add KMM Packages
        run: |
          perl -i -p -e 'print "kotlin(\"multiplatform\").version(\"1.7.10\").apply(false)\n" if $. == 15' build.gradle.kts
          perl -i -p -e 'print "id(\"com.android.library\").version(\"7.2.2\").apply(false)\n" if $. == 14' build.gradle.kts

      - name: Run Test
        run: ./gradlew test

      - name: Run Android Lint
        run: ./gradlew lint
